
html { line-height: 1.15; text-size-adjust: 100%; }
body { margin: 0px; }
main { display: block; }
h1 { font-size: 2em; margin: 0.67em 0px; }
hr { box-sizing: content-box; height: 0px; overflow: visible; }
pre { font-family: monospace, monospace; font-size: 1em; }
a { background-color: transparent; }
abbr[title] { border-bottom: none; text-decoration: underline dotted; }
b, strong { font-weight: bolder; }
code, kbd, samp { font-family: monospace, monospace; font-size: 1em; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sub { bottom: -0.25em; }
sup { top: -0.5em; }
img { border-style: none; }
button, input, optgroup, select, textarea { font-family: inherit; font-size: 100%; line-height: 1.15; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="button"], [type="reset"], [type="submit"], button { -webkit-appearance: button; }
fieldset { padding: 0.35em 0.75em 0.625em; }
legend { box-sizing: border-box; color: inherit; display: table; max-width: 100%; padding: 0px; white-space: normal; }
progress { vertical-align: baseline; }
textarea { overflow: auto; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0px; }
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button { height: auto; }
[type="search"] { -webkit-appearance: textfield; outline-offset: -2px; }
[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }
details { display: block; }
summary { display: list-item; }
[hidden], template { display: none; }
blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre { margin: 0px; }
button { background-color: transparent; background-image: none; padding: 0px; }
button:focus { outline: -webkit-focus-ring-color auto 5px; }
fieldset, ol, ul { margin: 0px; padding: 0px; }
ol, ul { list-style: none; }
html { font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; line-height: 1.5; }
*, ::after, ::before { box-sizing: border-box; border: 0px solid rgb(231, 229, 223); }
hr { border-top-width: 1px; }
img { border-style: solid; }
textarea { resize: vertical; }
input::placeholder, textarea::placeholder { color: rgb(160, 174, 192); }
[role="button"], button { cursor: pointer; }
table { border-collapse: collapse; }
h1, h2, h3, h4, h5, h6 { font-size: inherit; font-weight: inherit; }
a { color: inherit; text-decoration: inherit; }
button, input, optgroup, select, textarea { padding: 0px; line-height: inherit; color: inherit; }
code, kbd, pre, samp { font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
audio, canvas, embed, iframe, img, object, svg, video { display: block; vertical-align: middle; }
img, video { max-width: 100%; height: auto; }
.link, .links a { color: rgb(163, 160, 144); }
.link:focus, .link:hover, .links a:focus, .links a:hover { color: rgb(123, 119, 105); text-decoration: underline; }
.border-gray-500 { border-color: rgb(210, 210, 210); }
.border-b { border-bottom-width: 1px; }
.inline { display: inline; }
.font-black { font-weight: 900; }
.mb-2 { margin-bottom: 0.5rem; }
.p-3 { padding: 0.75rem; }
.text-center { text-align: center; }
.w-full { width: 100%; }
fieldset { min-width: 0px; margin: 0px; }
fieldset, legend { padding: 0px; border: 0px; }
legend { display: block; width: 100%; margin-bottom: 20px; font-size: 21px; line-height: inherit; color: rgb(51, 51, 51); border-bottom: 1px solid rgb(229, 229, 229); }
label { display: inline-block; max-width: 100%; margin-bottom: 5px; font-weight: 700; }
input[type="search"] { box-sizing: border-box; -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] { margin: 4px 0px 0px; line-height: normal; }
input[type="file"] { display: block; }
input[type="range"] { display: block; width: 100%; }
select[multiple], select[size] { height: auto; }
input[type="checkbox"]:focus, input[type="file"]:focus, input[type="radio"]:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
output { padding-top: 7px; }
.form-control, output { display: block; font-size: 14px; line-height: 1.42857; color: rgb(163, 160, 144); }
.form-control { width: 100%; height: 34px; padding: 6px 12px; background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px; box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgba(102, 175, 233, 0.6) 0px 0px 8px; }
.form-control::-webkit-input-placeholder { color: rgb(210, 210, 210); }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color: rgb(238, 238, 238); opacity: 1; }
.form-control[disabled], fieldset[disabled] .form-control { cursor: not-allowed; }
textarea.form-control { height: auto; }
.form-control-static.input-lg, .form-control-static.input-sm, .input-group-lg > .form-control-static.form-control, .input-group-lg > .form-control-static.input-group-addon, .input-group-lg > .input-group-btn > .form-control-static.btn, .input-group-sm > .form-control-static.form-control, .input-group-sm > .form-control-static.input-group-addon, .input-group-sm > .input-group-btn > .form-control-static.btn { padding-right: 0px; padding-left: 0px; }
.input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn, .input-sm { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.input-group-sm > .input-group-btn > select.btn, .input-group-sm > select.form-control, .input-group-sm > select.input-group-addon, select.input-sm { height: 30px; line-height: 30px; }
.input-group-sm > .input-group-btn > select.btn[multiple], .input-group-sm > .input-group-btn > textarea.btn, .input-group-sm > select.form-control[multiple], .input-group-sm > select.input-group-addon[multiple], .input-group-sm > textarea.form-control, .input-group-sm > textarea.input-group-addon, select[multiple].input-sm, textarea.input-sm { height: auto; }
.form-group-sm .form-control { height: 30px; padding: 5px 10px; font-size: 12px; line-height: 1.5; border-radius: 3px; }
.form-group-sm select.form-control { height: 30px; line-height: 30px; }
.form-group-sm select[multiple].form-control, .form-group-sm textarea.form-control { height: auto; }
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn, .input-lg { height: 44px; padding: 8px 12px; font-size: 18px; line-height: 1.4; border-radius: 6px; }
.input-group-lg > .input-group-btn > select.btn, .input-group-lg > select.form-control, .input-group-lg > select.input-group-addon, select.input-lg { height: 44px; line-height: 44px; }
.input-group-lg > .input-group-btn > select.btn[multiple], .input-group-lg > .input-group-btn > textarea.btn, .input-group-lg > select.form-control[multiple], .input-group-lg > select.input-group-addon[multiple], .input-group-lg > textarea.form-control, .input-group-lg > textarea.input-group-addon, select[multiple].input-lg, textarea.input-lg { height: auto; }
.form-group-lg .form-control { height: 44px; padding: 8px 12px; font-size: 18px; line-height: 1.4; border-radius: 6px; }
.form-group-lg select.form-control { height: 44px; line-height: 44px; }
.form-group-lg select[multiple].form-control, .form-group-lg textarea.form-control { height: auto; }
.has-feedback .form-control { padding-right: 42.5px; }
.form-group-lg .form-control + .form-control-feedback, .input-group-lg + .form-control-feedback, .input-group-lg > .form-control + .form-control-feedback, .input-group-lg > .input-group-addon + .form-control-feedback, .input-group-lg > .input-group-btn > .btn + .form-control-feedback, .input-lg + .form-control-feedback { width: 44px; height: 44px; line-height: 44px; }
.form-group-sm .form-control + .form-control-feedback, .input-group-sm + .form-control-feedback, .input-group-sm > .form-control + .form-control-feedback, .input-group-sm > .input-group-addon + .form-control-feedback, .input-group-sm > .input-group-btn > .btn + .form-control-feedback, .input-sm + .form-control-feedback { width: 30px; height: 30px; line-height: 30px; }
.has-success .form-control { border-color: rgb(60, 118, 61); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; }
.has-success .form-control:focus { border-color: rgb(43, 84, 44); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(103, 177, 104) 0px 0px 6px; }
.has-warning .form-control { border-color: rgb(138, 109, 59); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; }
.has-warning .form-control:focus { border-color: rgb(102, 81, 44); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(192, 161, 107) 0px 0px 6px; }
.has-error .form-control { border-color: rgb(169, 68, 66); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset; }
.has-error .form-control:focus { border-color: rgb(132, 53, 52); box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px inset, rgb(206, 132, 131) 0px 0px 6px; }
.btn { display: inline-block; margin-bottom: 0px; font-weight: 400; text-align: center; white-space: nowrap; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; padding: 6px 12px; font-size: 14px; line-height: 1.42857; border-radius: 4px; user-select: none; }
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus { outline: -webkit-focus-ring-color auto 5px; outline-offset: -2px; }
.btn.focus, .btn:focus, .btn:hover { color: rgb(123, 119, 105); text-decoration: none; }
.btn.active, .btn:active { background-image: none; outline: 0px; box-shadow: rgba(0, 0, 0, 0.125) 0px 3px 5px inset; }
.btn.disabled, .btn[disabled], fieldset[disabled] .btn { cursor: not-allowed; opacity: 0.65; box-shadow: none; }
a.btn.disabled, fieldset[disabled] a.btn { pointer-events: none; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group .form-control:focus { z-index: 3; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group-addon.input-sm, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .input-group-addon.btn { padding: 5px 10px; font-size: 12px; border-radius: 3px; }
.input-group-addon.input-lg, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .input-group-addon.btn { padding: 8px 12px; font-size: 18px; border-radius: 6px; }
.input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group .form-control:first-child { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group-addon:last-child, .input-group-btn:first-child > .btn-group:not(:first-child) > .btn, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group .form-control:last-child { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-btn, .input-group-btn > .btn { position: relative; }
.input-group-btn > .btn + .btn { margin-left: -1px; }
.input-group-btn > .btn:active, .input-group-btn > .btn:focus, .input-group-btn > .btn:hover { z-index: 2; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { z-index: 2; margin-left: -1px; }
.modal-footer .btn + .btn { margin-bottom: 0px; margin-left: 5px; }
.modal-footer .btn-group .btn + .btn { margin-left: -1px; }
input, textarea { text-align: left; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: rgb(210, 210, 210); }
a { -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }
.form-control { border-radius: 24px; border-color: rgb(218, 218, 201); font-size: 16px; }
[data-toggle="modal"]:focus { outline: none; }
[data-toggle="popover"] { cursor: pointer; }
.form-alternate .btn, .form-alternate .form-control, .form-control--alternate { border-radius: 4px; font-size: inherit; }
.btn { border: 0px; }
.btn:active { box-shadow: none; }
.btn--edit-recipe, .btn--get-started { color: rgb(255, 153, 51); background-color: rgb(255, 255, 255); border-radius: 30px; font-weight: 700; border: 1px solid rgb(255, 153, 51); }
.btn--edit-recipe:focus, .btn--edit-recipe:hover, .btn--get-started:focus, .btn--get-started:hover { color: rgb(255, 153, 51); background-color: rgb(255, 255, 255); }
.btn--edit-recipe:active, .btn--get-started:active { color: rgb(255, 153, 51); background-color: rgb(230, 230, 230); }
.btn--fixed-icon .icf, .btn--fixed-icon .model-icon, .btn--fixed-icon .ranked-list__rank { position: absolute; left: 5px; font-size: 1.6em; line-height: 1em; }
.btn-connect .icf, .btn-connect .model-icon, .btn-connect .ranked-list__rank { font-size: 1.6em; vertical-align: middle; }
.card { border-radius: 5px; background-color: rgb(255, 255, 255); border: 1px solid rgb(218, 218, 201); box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px; }
.card--borderless, .card--borderless-clear-sm { border: 0px; box-shadow: none; }
.contents { width: auto; }
.document__title, .document__title-container { margin: 8px 0px; }
.document__title { color: rgb(204, 201, 188); font-size: 20px; font-weight: 900; }
.document__panel { margin: 24px 0px; }
.document__section { padding: 18px; }
[contenteditable] { outline: none; min-height: 1.2em; }
li:not(:last-child) .field-group--ingredient .field-group__hint { visibility: hidden; }
.field-group--ingredient { padding-right: 68px; position: relative; }
.form-alternate .form-control { color: rgb(72, 68, 50); }
textarea[style] { resize: none; }
.icf, .model-icon, .ranked-list__rank { display: inline-block; font-family: CookpadSymbols; font-weight: 400; font-style: normal; -webkit-font-smoothing: antialiased; }
.icf::before, .model-icon::before, .ranked-list__rank::before { content: attr(data-title); }
.icf--close-circle::before { content: ""; }
.icf--search::before { content: ""; }
.js--off .js__rich, .js--on .js__fallback { display: none; }
.masonry { display: flex; margin: 0px -1%; }
.masonry__column { margin: 0px 1%; flex: 1 1 0%; }
.masonry__item { margin: 0px 0px 20px; transition: opacity 0.1s ease-in-out 0s; opacity: 1; }
.media::after, .media::before { display: table; content: " "; }
.media::after { clear: both; }
.media, .media__body { zoom: 1; overflow: visible; }
.media__body { width: 10000px; display: table-cell; vertical-align: top; word-break: break-word; }
.media__img { float: left; margin-right: 10px; }
.media__img-rev { float: right; margin-left: 10px; }
a.media { display: block; }
.main-container .pagination { text-align: center; margin: 30px 0px; font-size: 1.2em; }
.main-container .pagination--without-margin { margin: 0px; }
.main-container .pagination.loading { background: transparent; }
.main-container .pagination.loading a { visibility: hidden; }
.main-container .pagination .page { display: inline-block; padding: 5px; }
.main-container .pagination .page.current { padding-left: 10px; padding-right: 10px; }
.main-container .pagination > a { padding: 5px 15px; }
.main-container .pagination a { text-decoration: none; padding: 11px 0px; display: block; }
.main-container .pagination .gap { color: rgb(163, 160, 144); }
.main-container .pagination.paging a { display: inline-block; padding: 5px; }
.main-container .pagination i { font-size: 0.8em; }
.main-container .pagination.paging .current { font-weight: 700; }
.recipe-media { padding-top: 1em; padding-bottom: 1em; background: rgb(255, 255, 255); }
.recipe-media__section { padding: 1em; border-bottom: 1px solid rgb(218, 218, 201); }
.recipe-media__section:first-child { padding-top: 0px; }
.recipe-media__section:last-child { padding-bottom: 0px; border-bottom: 0px; }
.recipe-media__title { margin: 0px; font-size: 1.5em; color: rgb(72, 68, 50); }
.recipe-media__title--small { font-size: 18px; }
.split-header__main { zoom: 1; overflow: hidden; width: 10000px; display: table-cell; }
.recipe-title { color: rgb(139, 173, 0) !important; }
.recipe-title :hover { color: rgb(139, 173, 0); }
.recipe-title.strong { font-weight: 900; }
.faint { color: rgb(210, 210, 210); }
.strong { font-weight: 700; }
.strong b { font-weight: 400; }
.prose { font-family: Lora, serif; }
.break-long-word { overflow-wrap: break-word; word-break: break-word; }
trix-editor { border: 1px solid rgb(187, 187, 187); border-radius: 3px; margin: 0px; padding: 0.4em 0.6em; min-height: 5em; outline: none; }
trix-toolbar * { box-sizing: border-box; }
trix-editor [data-trix-cursor-target]::selection, trix-editor [data-trix-mutable]::selection, trix-editor [data-trix-mutable] ::selection { background: none; }
[data-stateful] > [data-state] { display: none; }
[data-stateful] > [data-state]:first-of-type { display: block; }
[data-visible-to] { display: none !important; }
.webview--active .webview__contents { padding: 0px; }
.webview--active .webview__hidden { display: none; }
body, html { font-size: 16px; }
body { line-height: 1.4; background-color: rgb(250, 250, 245); color: rgb(72, 68, 50); font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif; text-rendering: optimizelegibility; -webkit-font-smoothing: antialiased; font-feature-settings: "liga"; }
.main-container { position: relative; min-height: 100vh; }
.main-header { background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(237, 237, 237); padding: 10px; position: sticky; top: 0px; left: 0px; right: 0px; z-index: 1000; }
.main-header::after, .main-header::before { display: table; content: " "; }
.main-header::after { clear: both; }
.main-header__brand { float: left; }
.main-header__brand img { height: 36px; }
.main-header--home .main-header__brand, .main-header--home .main-header__search { transition: opacity 0.2s ease 0s, visibility 0.2s ease 0s; visibility: hidden; opacity: 0; }
.main-header--show-search-box .main-header__brand, .main-header--show-search-box .main-header__search { visibility: visible; opacity: 1; }
.header-search { position: relative; max-width: 285px; height: 36px; }
.header-search__action { margin: 0px; }
.header-search__action__button { height: 36px; line-height: 1em; outline: none; padding: 6px 12px; color: rgb(163, 160, 144); background-color: rgb(231, 229, 223); border-width: 1px 1px 1px 0px; border-top-style: solid; border-right-style: solid; border-bottom-style: solid; border-top-color: rgb(204, 204, 204); border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-image: initial; border-left-style: initial; border-left-color: initial; border-radius: 0px 4px 4px 0px; }
.header-search__field { position: relative; height: 36px; padding: 0px 8px; transition: none 0s ease 0s; border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.header-search__field__input { background: none; border: 0px; outline: none; padding: 0px; height: 100%; width: 100%; }
.header-search__clear { display: none; position: absolute; right: 10px; top: 0px; line-height: 1.2em; font-size: 1.2em; margin-top: 0.3em; }
.header-controls { float: right; position: relative; z-index: 1; margin-left: 8px; }
.header-controls__item { margin-left: 1em; display: inline-block; }
.header-controls__item--button { border-radius: 4px; line-height: 1.5em; }
.feed__photo { border-radius: 4px 4px 0px 0px; min-height: 100px; }
.feed__title { font-size: 1.2em; margin: 0px 0px 3px; font-weight: 900; }
.fastly-image, .tofu_image { display: block; max-width: 100%; position: relative; height: 0px; overflow: hidden; }
.fastly-image img, .tofu_image img { width: 100%; height: 100%; position: absolute; display: block; left: 0px; top: 0px; }
.image { position: relative; min-height: 40px; }
.editor:not(.editor--pc) .droppable--dropping::after { visibility: hidden; }
.ingredient-list__contents { color: rgb(72, 68, 50); margin: 0px; padding-left: 0px; padding-right: 0px; }
.ingredient { padding: 5px 0px; line-height: 1.2; margin-bottom: 0.1em; }
.ingredient__details { margin-left: 1em; text-indent: -1em; }
.recipe-show__title { clear: both; font-size: 28px; margin-top: 0px; margin-bottom: 5px; padding-top: 0px; }
.recipe-show__story p:last-child { margin-bottom: 0px; }
.step-image { vertical-align: top; display: inline-block; margin-bottom: 0.2em; }
.step-image__container { width: 154px; height: 116px; background: rgb(210, 210, 210); }
.numbered-list { counter-reset: numList 0; list-style: none; padding: 0px 0px 1px; margin: 0px; }
.numbered-list > * { margin-bottom: 1.5em; }
.numbered-list__item:not(.ui-sortable-placeholder)::before { width: 24px; height: 24px; line-height: 24px; font-size: 14px; margin-right: 8px; margin-bottom: 0px; margin-left: 0px; display: inline-block; border-radius: 4px; color: rgb(255, 255, 255); background: rgb(123, 119, 105); text-align: center; counter-increment: numList 1; content: counter(numList); float: left; margin-top: 0px !important; }
.numbered-list__item:not(.ui-sortable-placeholder):last-child { margin-bottom: 0px; }
.numbered-list__contents { overflow: auto; position: relative; }
.step { text-align: start; }
:lang(ar) body { font-family: "Noto Naskh Arabic", "Noto Sans Arabic", sans-serif; font-size: 17px; }
:lang(ar) ::-webkit-input-placeholder { line-height: 1.8em; }
:lang(ar) .prose { font-family: "Noto Naskh Arabic", serif; }
:lang(ar) .numbered-list__contents { line-height: normal; top: -0.3em; }
:lang(fa) body { font-family: "Noto Naskh Arabic", "Noto Sans Arabic", sans-serif; font-size: 17px; }
:lang(fa) .prose { font-family: "Noto Naskh Arabic", serif; }
:lang(vi) .prose, :lang(vi) body { font-family: Roboto, sans-serif; }
:lang(vi) .header-controls { margin-left: 6px; }
.main-container { position: static !important; }
.main-container::before { box-shadow: none !important; }
.main-header { border-bottom: 0px; position: absolute; left: 0px; right: 0px; padding: 0px; background: transparent; }
.main-header__brand { margin: 0.5em; }
.main-header__logo-text { display: inline !important; }
.recipe-show { font-family: Lato, "Helvetica Neue", Helvetica, arial, sans-serif; line-height: 1.3; }
.recipe-show__image { float: left; width: 39%; margin: 0px; padding: 0px; }
.recipe-show__title { font-size: 24px; font-weight: 700; }
.recipe-show__story { font-size: 12px; }
.intro-container { float: right; margin: 0px; padding: 0px; width: 58%; }
.ingredients-container { clear: left; display: block; float: left; overflow: visible; position: static; width: 39%; padding: 0px; margin: 10px 0px 30px; }
.ingredients-container .ingredient-list { font-size: 12px; border: 0px; box-shadow: none; padding: 0px; }
.steps-container { clear: right; float: right; width: 58%; margin: 15px 0px 0px; padding: 0px; }
.step { border-width: 1px 0px 0px; border-right-style: initial; border-bottom-style: initial; border-left-style: initial; border-right-color: initial; border-bottom-color: initial; border-left-color: initial; border-image: initial; box-shadow: none; border-top-style: solid; border-top-color: rgb(238, 238, 238); border-radius: 0px; margin: 0px; padding: 10px 0px; }
.step::before { background: transparent; color: rgb(72, 68, 50); font-weight: 700; font-size: 16px; width: auto; line-height: 1.1em; }
.step-image__container { width: 120px; }